.showTime {
  cursor: pointer;
}

.showTime:hover {
  text-decoration: underline;
  color: #0088cc
}

.custPrice {
  display: none;
}

.mat, .night {
  cursor: pointer;
}

.mat:hover, .night:hover {
  text-decoration: underline;
  color: #0088cc;
}
